requests
click
tabulate
troposphere
jinja2
awacs
redis==4.3.1
pymongo
pika
psutil
flask
icecream
waitress
pyautogui
qqutils
tqdm
# psycopg2
psycopg2-binary
stopwatch.py
pytube
moviepy
youtube-transcript-api
openai-whisper
PySocks
